<main class="d-flex w-100 flex-grow-1">
    <section class="container-fluid">
        <h1 class="bg-success-subtle p-2 text-center text-success w-100">Products Details</h1>
            <figure class="figure">
                <img style="width: 253px; height: 351px" class="img-fluid rounded" src="{{details.photo}}" alt="{{details.title}}" />
                <figcaption class="editorial figure-caption">{{details.title}}</figcaption>
                <figcaption class="titulo figure-caption">{{details.publisher}}</figcaption>
                <figcaption class="precio figure-caption">{{details.price}}</figcaption>
                <button className="btn" type="button">Agregar al carrito</button>
            </figure>
    </section>
</main>












